html, body, div, h2, h3, ul, li, span, i {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #333;
    -webkit-user-select: none;
}

ul, li {
    list-style: none;
}

h2 {
    font-size: 15px;
    font-weight: normal;
}

h3 {
    font-size: 14px;
    font-weight: normal;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#bigBox #box1 {
    width: 1000px;
    margin: 20px auto;
}

#bigBox #box1 .left {
    float: left;
    width: 210px;
    border: 1px solid #cccccc;
    border-top: 2px solid #35b558;

}

#bigBox #box1 .left .menuTop {
    padding-left: 8px;
    height: 31px;
    line-height: 31px;
    background: #eeeeec;
}

#bigBox #box1 .left .menuTop h2 {
    font-size: 15px;
    font-weight: normal;
}

#bigBox #box1 .left .menuBody .mbChild {
    width: 100%;
    background: #eeeeec;
}

#bigBox #box1 .left .menuBody .mbChild h3 {
    position: relative;
    padding: 0 6px 0 36px;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #dddddd;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

#bigBox #box1 .left .menuBody .mbChild h3 span {
    display: block;
    position: absolute;
    top: 7px;
    left: 10px;
    width: 16px;
    height: 16px;
}

#bigBox #box1 .left .menuBody .mbChild h3 span.bg1 {
    background: url("../img/icon.png") no-repeat;
    background-position: -42px -28px;
}

#bigBox #box1 .left .menuBody .mbChild h3 span.bg2 {
    background: url("../img/icon.png") no-repeat;
    background-position: -59px -28px;
}

#bigBox #box1 .left .menuBody .mbChild ul {
    padding: 4px 0 4px 36px;
    border-top: 1px solid #dddddd;
    background: white;
}

#bigBox #box1 .left .menuBody .mbChild ul li {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    cursor: pointer;
}

#bigBox #box1 .left .menuBody .mbChild ul li:hover {
    color: #1b8914;
    font-weight: bold;
}

#bigBox #box1 .left .menuBody .mbChild ul li.more {
    position: relative;
    padding-left: 5px;
    width: 70px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
}

#bigBox #box1 .left .menuBody .mbChild ul li.more i {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 5px;
    width: 10px;
    height: 5px;
    background: url("../img/icon.png") no-repeat scroll -35px -55px;

}

#bigBox #box1 .right {
    float: left;
    width: 740px;
    margin-left: 24px;

}

#bigBox #box1 .right .head {
    height: 38px;
    width: 100%;
    line-height: 38px;
    border: 1px solid #e4e4e4;

}

#bigBox #box1 .right .head ul {
    margin-bottom: 0px;
    height: 38px;
    background: #eeeeec;
}

#bigBox #box1 .right .head li {
    float: left;
    width: 100px;
    height: 38px;
    font-size: 15px;
    line-height: 38px;
    text-align: center;
}

#bigBox #box1 .right .head .li1 {
    font-size: 14px;
    background: white;
    border-right: 1px solid #e4e4e4;
}

#bigBox #box1 .right .text {
    width: 740px;
    text-align: center;
}

#bigBox #box1 .right .text ul {
    display: inline;
    width: 740px;
    text-align: center;

}

#bigBox #box1 .right .text li {
    float: left;
    width: 219px;
    -height: 220px;
    border: 1px solid #cccccc;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 20px;

}

#bigBox #box1 .right .text li .textDiv1 {
    height: 140px;
    position: relative;
}
#bigBox #box1 .right .text li .textDiv1 .img2{
    display: none;
    position: absolute;
    top: 50px;
    left: 75px;
    width: 60px;
    height: 60px;
}
#bigBox #box1 .right .text li .textDiv1 span{
    display: none;
    position: absolute;
    top: 120px;
    left: 70px;
    font-size: 16px;
    color: #555555;
    font-weight: bold;
}
#bigBox #box1 .right .text li .textDiv2 {
    position: relative;
    margin-top: 20px;
    -height: 60px;
    color: black;
    text-align: left;
    margin-left: 20px;
    font-size: 15px;

}

#bigBox #box1 .right .text li .textDiv2 p {
    width: 150px;
    height: 12px;
    color: #5c5c5c;

    font-size: 12px;

}

#bigBox #box1 .right .text .textDiv2 img {
    margin-right: 10px;
    width: 12px;
    height: 12px;

}
